.container{ 
    min-height: 550px; 
  }    
  [name="startDate"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    cursor: pointer;
  }
  [name="startDate"]::-webkit-inner-spin-button {
    display: none;
  }
  [name="startDate"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }