.container{
    min-height: 550px;
}
select{
    width: 100px;
}

.border{
    color: white;
    width: 200px;
    cursor: pointer;
}
  .bg-success {
      font-size: .9em;
      width: auto
  }
  .bg-success i {
      margin-right: 0;
      
  }