.container{
    min-height: 550px;
}
.border{
    color: white;
    width: 180px;
    cursor: pointer;
}
  select{
    width: 180px;
  }
  .bg-success {
    font-size: .9em;
    width: auto
}
.bg-success i {
    margin-right: 0;
    
}
.card{
  width: 100%;
  cursor: context-menu;
}
.card:hover{
  background-color:#ffffff;
  box-shadow:none;
}
/* .card:hover h6, .card:hover i {
  color: #000000;
} */
.page-template {  
  font-family: "DejaVu Sans", "Arial", sans-serif;   position: absolute; 
  width: 100%;   
  height: 100%;   
  top: 0;   
  left: 0; 
} 