.container{
    font-family:'Montserrat', sans-serif;
    margin-top:100px;
    background-color: #fff;
}
.back{
    text-decoration: underline !important;
    cursor: pointer;
    font-size: 22px;
  }
  .back:hover{
    color: green !important;
  }
.card{
     margin-top: 30px;
    color: rgb(61, 58, 58); 
    width: 83%;
    cursor: pointer;
    outline: none !important;
}
input[type=checkbox], input[type=radio] {
    margin-right: 5px
}
.card:hover{
    background-color: #ee5436;
  box-shadow: 2px 2px 8px gray;
}
.card:hover h6, .card:hover i {
    color: #fff;
  }
@media only screen and (max-width:425px){ 
    .card{
        margin-top: 30px;  
        width: 100%;        
    }    
}
@media only screen and (max-width:768px){
    .card{
        margin-top: 30px;
        width: 100%;
        
    }
}
@media only screen and (max-width:1024px){
    
    .card{
        margin-top: 30px;
        width: 100%;        
    }
}
/* detail page & update page*/

label{
    font-weight: bold;
}
.input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

[type="file"] {
    color: #ffffff;
    background: #34495e;
    border-radius: 5px;
  }
[type="file"]::before{
    background:#12910e;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
  }
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
 
input[type="number"] {
    -moz-appearance: textfield;
}
.sub{
    color: #ffffff !important;
    width: 145px;
    height: 40px;
    border-radius: 5px;
}
@media only screen and (max-width:425px){
    [type="file"] {
      color: #ffffff;
      background: #34495e;
      border-radius: 5px;
      width: 100%;
      }
  }
  @media only screen and (max-width:425px){
    .sub{
      width: 130px;
    }
  }
    @media only screen and (max-width:320px){
    .sub{
      width: 120px;  
      }
  }
  
  