<div class="container-fluid">
  <div class="container">
    <div class="row ">
      <div class="col-12">
          <a (click)="cancel()" class="back">
            <i class="material-icons">arrow_back</i> <sup>Back</sup>            
          </a>
      </div>
    </div>
    <div class="row mt-4">
        <div class="col-12" style="overflow-x:auto;">         
            <table class="table table-striped results table-bordered font ">
              <thead class="bg-info text-white">
                <tr>
                  <th rowspan="2" class="text-center">Leave Type</th>
                  <th>Opening Balance</th>
                  <th>Surplus Leaves Encashed</th>
                  <th>Surplus Leaves Lapsed</th>
                  <th rowspan="2">Last Credit Date</th>
                  <th>Leaves Credited</th>
                  <th>Leaves Approved</th>
                  <th>Leaves Awaiting Approval</th>
                  <th>Timesheet Leaves</th>
                  <th>Leave Balance</th>
                </tr>
                <tr>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                  <th>E</th>
                  <th>F</th>
                  <th>G</th>
                  <th>H=(A+D)-(B+C+E+G)</th>
                </tr>    
              </thead>
              <tbody class="text-dark">
                <tr>
                  <td>Earned Leave</td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Casual Leave</td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Sick Leave</td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Flexi Leave</td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td ></td>
                  <td ></td>
                  <td></td>              
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>
