<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a (click)="cancel()" class="back">
          <i class="material-icons">arrow_back</i> <sup>Back</sup>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mt-4 ">
        <h3 class="mb-4">Attendence</h3>
        <ngb-datepicker [(ngModel)]="model"[disabled]="disabled" class="datepicker" ></ngb-datepicker>
      </div>
      <div class="col-lg-8 col-sm-12 mt-4 ">
          <h3 class="mb-4">My Attendence</h3>
        <table class="table results table-bordered font table-striped"  style="overflow-x:auto;">
          <thead class="bg-info text-white">
            <tr>
              <th>No</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total Hours</th>
            </tr>
          </thead>
          <tbody>
            <td>1</td>
            <td>06-06-2019</td>
            <td>P</td>
            <td>08.00</td>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
