<div class="container-fluid">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/dashboard-employee">
          <div class="card-body">
            <i class='fas fa-users' style='font-size:38px;'></i> <br> <br>
            <h6>Employee</h6>           
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/dashboard-payroll">
          <div class="card-body">
            <i class='fas fa-money-check-alt' style='font-size:38px'></i> <br><br>
            <h6>Payroll</h6>           
          </div>
        </div>
      </div> 
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/dashboard-leavemanagement">
          <div class="card-body">
            <i class='fas fa-user-clock' style='font-size:38px'></i> <br><br>
            <h6>Leave Management</h6>           
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
<router-outlet></router-outlet>

  

 