<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a (click)="cancel()" class="back">
          <i class="material-icons">arrow_back</i> <sup>Back</sup>
        </a>
      </div>
    </div>
    <div class="row"> 
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/attendence">
          <div class="card-body">
            <i class='far fa-calendar-check' style='font-size:38px;'></i> <br> <br>
            <h6>Attendence</h6>           
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/leaverequest">
          <div class="card-body">
            <i class='fa fa-history' style='font-size:38px'></i> <br><br>
            <h6>LeaveRequest</h6>           
          </div>
        </div>
      </div> 
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/leavehistory">
          <div class="card-body">
            <i class='fa fa-file-text' style='font-size:38px'></i> <br><br>
            <h6>LeaveHistory</h6>           
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2 col-md-3 col-6   text-center">
        <div class="card"  routerLink="/employee/myleave">
          <div class="card-body">
            <i class='fa fa-address-card' style='font-size:38px'></i> <br><br>
            <h6>MyLeave</h6>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
